name: Sogou Internet Buzzwords

on:
  workflow_dispatch:
  schedule:
    - cron: '59 0 * * 0'

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Prepare Tools and Source
        run: |
          wget https://github.com/studyzy/imewlconverter/releases/download/v3.3.0/imewlconverter_linux-x64.tar.gz
          tar -xzvf imewlconverter_Linux-x64.tar.gz
          
          wget -O 网络流行新词.scel "https://pinyin.sogou.com/d/dict/download_cell.php?id=4&name=网络流行新词"

      - name: Generate Dictionary File
        run: |
          dotnet publish/ImeWlConverterCmd.dll -i:scel ./网络流行新词.scel -o:rime ./buzzwords.dict.yaml -ct:pinyin -os:linux -r:100
          
          if [ ! -f "buzzwords.dict.yaml" ]; then
            echo "::error::Dictionary file 'buzzwords.dict.yaml' was not generated."
            exit 1
          fi
          echo "Success: Dictionary file generated."

      - name: Set Dictionary Metadata
        run: |
          TODAY=$(TZ='Asia/Shanghai' date +'%Y%m%d')
          
          cat > header.yaml <<EOF
          ---
          name: buzzwords
          version: "$TODAY"
          sort: by_weight
          ...
          EOF
          
          cat header.yaml buzzwords.dict.yaml > temp.yaml && mv temp.yaml buzzwords.dict.yaml
          
          echo "RELEASE_DATE=$TODAY" >> $GITHUB_ENV

      - name: Create or Update Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: buzzwords
          name: "搜狗网络流行新词词库"
          body: |
            使用 imewlconverter 自动生成的搜狗网络流行新词 Rime 拼音输入方案词库。
            最近更新于：${{ env.RELEASE_DATE }}
          files: buzzwords.dict.yaml
          make_latest: true
